.home-style {
  margin: 0px;
  font-size: 70px;
  font-weight: 900;
  font-family: 'Roboto Condensed', sans-serif;
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn-style {
  padding-left: 26px;
  padding-right: 26px;
  font-size: 20px;
  font-family: 'Roboto Condensed', sans-serif;
}

.home {
  font-size: 60px;
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}