.login-style {
  border: 1px solid #c7c5c5;
  width: 375px;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.buttons-style {
  width: 450px;
}